.header
    background-color: $collishop-blue
    align-items: top
    img
        padding: 10px 20px 0px 20px
        border-right: solid 1px #fff
        width: 25%
        display: inline-block
        height: auto
    p#slogan
        font-family: 'Ubuntu', sans-serif
        display: inline-block
        color: #fff
        padding: 10px 20px 0px 20px
        font-size: 20px
        font-weight: 300
    .columns
        padding-bottom: 0
    .menu
        background-color: $light-gray
        .menu-item
            color: $collishop-blue
            font-size: 12px





