wrapper.header
    row
        img(src="./assets/img/logo-wit.png")
        p#slogan Kiezen wordt
            br
            |
            strong makkelijk

center
    menu
        item(href="https://www.collishop.be/e/nl/cs/wonen" target="_blank") Wonen en Slapen
        item(href="https://www.collishop.be/e/nl/cs/elektro" target="_blank") Elektro
        item(href="https://www.collishop.be/e/nl/cs/huishouden" target="_blank") Huishouden
        item(href="https://www.collishop.be/e/nl/cs/koken-en-tafelen" target="_blank") Koken en Tafelen
        item(href="https://www.collishop.be/e/nl/cs/terras-en-tuin" target="_blank") Terras en Tuin
        item(href="https://www.collishop.be/e/nl/cs/mooi-en-gezond" target="_blank") Mooi en Gezond
        //- item(href="https://www.collishop.be/e/nl/cs/opbergen" target="_blank") Opbergen
        //- item(href="https://www.collishop.be/e/nl/cs/gaming-en-multimedia" target="_blank") Gaming en Multimedia
