html
    head
        link(rel="stylesheet" href="css/mail.css")
    body
        container
            block header
                include ./_header.pug

            block content

            block footer
                include ./_footer.pug

