.footer .wrapper-inner
    background-color: #f2f2f2
    margin-top: 10px
    .wrapper
        margin-top: 10px
        .footerWithImg img
            display: inline-block
            margin: 0 10px
            width: 16px
            height: auto
        p
            display: block
            padding: 5px 20px
            background-color: #ffffff
            box-shadow: 4px 4px 4px #f2f2f2

