table.body img.topImage
    border-radius: 3px 3px 0 0
    margin: 0
    width: 100%
    height: auto
    box-shadow: 2px 2px 2px #f2f2f2
.tile .wrapper-inner
    background-color: #f7f7f7
    box-shadow: 2px 2px 2px #f2f2f2
    .btn
        cursor: pointer
        .wrapper-inner
            border-radius: 0 0 3px 3px
        p
            color: #fff
            padding: 5px 0
            color: #fff
            position: relative
            font-size: 0.8rem
            margin-bottom: 0
        #arrow
            margin-left: 10px
            font-size: 10px
    .btn.blue .wrapper-inner
        background-color: $collishop-blue
        &:hover
            background-color: $dark-blue

    .btn.pink .wrapper-inner
        background-color: $collishop-pink
        &:hover
            background-color: $dark-pink
